<html layout:decorate="~{global/layout}">
<div layout:fragment="content">
    <div class="flex justify-center p-6" th:object="${article}">
        <article class="text-dark-200 az ay al ax py-3">
            <span th:text="${article.getTitle()}"
                class="az text-4xl font-extrabold tracking-tight lg:text-5xl lg:leading-[3.5rem]">
            </span>

            <div class="mt-3 text-gray-400">
                <i class="fa-regular fa-user" style="width: 16px"></i>
                <span class="ml-1" th:text="${'By ' + article.getAuthor().username}"></span>
                <div sec:authorize="isAuthenticated()" th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}">
                    <i class="fa-regular fa-pen-to-square"></i><a th:href="@{|/post/${article.id}/modify|}"
                                                                  class="ml-2">Edit</a>
                    <i class="fa-regular fa-pen-to-square ml-4"></i><a th:href="@{|/post/${article.id}/delete|}"
                                                                       class="ml-2">Delete</a>
                </div>
            </div>
            <p class="text-gray-500"
               th:text="${'Posted On ' + #temporals.format(article.createDate, 'MMMM d, yyyy')}"></p>

            <hr>

            <span class="az ay al py-3" th:text="${article.getBody()}">
            </span>
        </article>
    </div>
</div>
</html>
