html > body {
    font-family: 'Noto Sans KR', sans-serif;
}

.az {
    min-width: 0;
}

.ay {
    max-width: 1192px;
}

.al {
    width: 100%;
}

.ax {
    margin: 0 64px;
}

textarea:focus {
    outline: none;
}
button:focus {
    outline: none;
}
input:focus {
    outline: none;
}

textarea {
    min-height: 5rem;
    overflow-y: hidden;
    resize: none;
}